* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #262E3F;
}


/*--------------------------------------------Navigation bar----------------------------------*/

.topNav {
    background-color: #121619;
    border: none;
    padding-top: 10px !important;
}

.topNav ul li {
    list-style-type: none;
}

.topNav ul li a {
    color: #ffffff !important;
    font-size: 30px;
    padding-bottom: 20px;
    padding-left: 40px !important;
}

#logo a {
    color: peru !important;
    font-family: 'Courgette', cursive;
    font-size: 50px;
}

#logo a span {
    color: yellow
}


/*---------------------------------------/Navigation bar---------------------------------*/

/*---------------------------------------Sliding images----------------------------------*/

.mymenu {
    position: absolute;
}

#menuRow {
    height: auto;
    background-color: white;
    color: black;
    opacity: 1.0;
    display: none;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

#menuRow h1 {
    color: peru;
}

.inner-menu u {
    color: peru;
    text-decoration: underline;
}

.inner-menu h1 {
    text-align: justify;
}

.inner-menu h2 {
    line-height: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

#menuImages {
    width: 350px;
    height: 350px;
    padding: 30px;
    border-radius: 200px;
}

.slidingImages {
    margin-top: 75px !important;
}


/*-----------------------------------/Sliding images-----------------------------------*/


/*-----------------------------------About---------------------------------------*/

.about {
    color: white;
    margin-top: 700px;
    clear: both;
}
strong{
    font-family: 'Courgette', cursive;
}
.about h1 {
    text-align: center;
    color: peru;
}

.about h1 span {
    color: yellow;
}

.about h2 {
    font-family: 'Times New Roman', Times, serif;
}

.orders {
    color: white;
}

#orderTitle {
    color: peru;
    text-align: center;
}

/*-----------------------------------------Order Form----------------------------*/

select {
    height: 50px !important;
    border: 2px solid cadetblue !important;
    background-color: #E6EFD6 !important;
    font-size: 20px !important;
}

input {
    font-size: 20px !important;
    height: 50px !important;
    background-color: #E6EFD6 !important;
}

option {
    font-size: 20px;
}

#small1,
#small2,
#small3,
#small4 {
    display: none;
}

#medium1,
#medium2,
#medium3,
#medium4 {
    display: none;
}

#large1,
#large2,
#large3,
#large4 {
    display: none;
}

#checkoutHeader {
    color: peru
}

#checkouts {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

#checkouts h3 {
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}


/*-----------------------------------------Order Form----------------------------*/
/*-------------------------------footer-----------------------------*/

.footer {
    height: 50px;
    background-color: #E6EFD6;
    color: peru;
}

.footer i {
    padding-left: 30px;
}

.footer-bottom {
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


/*-------------------------------/footer-----------------------------*/

/*----------------------mediaquery----------------------------------*/

@media only screen and (max-width:425px) {
    .topNav {
        position: static;
    }
    #imageParagraph {
        display: none;
    }
}

@media only screen and (max-width:768px) {
    .topNav {
        position: sticky;
    }
    .topNav ul li a {
        margin-left: 0px;
        font-size: 20px;
        ;
    }
    #logo a {
        font-size: 20px;
        margin-left: -30px;
    }
    #imageParagraph {
        display: none;
    }
}

@media only screen and (max-width:1024px) {
    .topNav ul li a {
        margin-left: 0px;
        font-size: 20px;
        ;
    }
    #logo a {
        font-size: 30px;
    }
    .slidingImages {
        margin-top: 80px !important;
    }
    #imageParagraph {
        display: none;
    }
}

